<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Repository Crawler</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/public/jquery.dataTables.min.css" />
</head>

<body>
    <%- include('./include/navbar') -%>
        <div class="height-50 bg-light">
            <div class="row">
                <div class="col-md-8">
                    <H1 style="text-align: center;">Github Repository Crawler</H1>
                    <form method="POST" onsubmit=" return crawlPackage(this);">
                        <div class="form-group">
                            <label>Enter URL</label>
                            <input type="url" name="git_url" class="form-control" required />
                        </div>

                        <input type="submit" name="submit" value="Crawl" class="btn btn-info" />
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <H1 style="text-align: center;">List Packages Crawled</H1>
                    <table class="table table-bordered" id="table">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Name</th>
                                <th>Time</th>
                            </tr>
                        </thead>

                        <tbody id="data">
                            <% for (var index in packages) { %>
                                <tr>
                                    <td>
                                        <a href="/packages/<%= encodeURIComponent(packages[index].git_url) %>">
                                            <%= packages[index].git_url %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= packages[index].name %>
                                    </td>
                                    <td>
                                        <%= packages[index].time %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group" id="my-updates"></ul>
            </div>
        </div>
</body>

<script src="../public/jquery-3.3.1.min.js"></script>
<script src="../public/bootstrap.js"></script>
<!-- <script src="../public/socket.io.js"></script> -->
<script src="../public/jquery.dataTables.min.js"></script>
<script>
    var table = null;
    // var socketIO = io("http://localhost:3000/");

    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    window.addEventListener("load", function () {
        table = $('#table').DataTable({
            "order": [[2, "asc"]]
        });
    });

    // socketIO.on("package_deleted", function (git_url) {
    //     table
    //         .rows(function (idx, data, node) {
    //             return data[0].includes(git_url);
    //         })
    //         .remove()
    //         .draw();
    // });

    // socketIO.on("crawl_update", function (data) {
    //     console.log(data);

    //     var html = "";
    //     html += `<li class="list-group-item">` + data + `</li>`;
    //     document.getElementById("my-updates").innerHTML = html + document.getElementById("my-updates").innerHTML;

    //     document.getElementById('my-updates').scrollTop = 0;
    // });

    // socketIO.on("package_crawled", function (data) {
    //     // console.log(data);

    //     var date = new Date(data.time);
    //     var time = date.getDate() + " " + months[date.getMonth()] + ", " + date.getFullYear() + " - " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

    //     table.row.add([
    //         "<a href='/page/" + encodeURIComponent(data.git_url) + "'>" + data.git_url + "</a>",
    //         data.title,
    //         time
    //     ]).draw(false);
    // });

    function crawlPackage(form) {
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/crawl-package", true);

        ajax.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    console.log(this.responseText);
                    var data = JSON.parse(this.responseText);
                    console.log(data);
                }
            }
        };

        var formData = new FormData(form);
        ajax.send(formData);
        return false;
    }
</script>
<style>
    #my-updates {
        max-height: 300px;
        overflow-y: scroll;
        width: fit-content;
    }

    .table-bordered th,
    .table-bordered td,
    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid black !important;
    }

    .table thead th {
        border-bottom: 2px solid black !important;
    }

    .table thead {
        background: #4723D9;
        text-align: center;
        color: #F7F6FB;
    }
</style>
<%- include('./include/footer') -%>

</html>