<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Repository Crawler</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>

<body>
    <%- include('./include/navbar') -%>
        <div class="row">
            <div class="col-md-1">
                <form method="POST" action="/delete-package"
                    onsubmit="return confirm('Are you sure you want to delete this package ?');">
                    <input type="hidden" name="git_url" value="<%= packages.git_url %>" required />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </div>

            <div class="col-md-1">
                <form method="POST" action="/reindex"
                    onsubmit="return confirm('Are you sure you want to re-index this package ?');">
                    <input type="hidden" name="git_url" value="<%= packages.git_url %>" required />
                    <input type="submit" class="btn btn-primary" value="Re-index" />
                </form>
            </div>
        </div>
        <div class="height-50 bg-light">
            <!-- <div class="container">
                <h1 style="text-align: center;">GitHub Repository Crawler</h1>
                <form action="/crawler" method="post" style="text-align: center">
                    <div>
                        <input type="text" name="repo_url" value="repo_url" placeholder="Enter GitHub repository URL">
                    </div>

                    <button type="submit"
                        style="background-color: rgb(40, 229, 40); color: #F7F6FB; margin: auto">Crawl</button>
                </form>
            </div> -->
            <h2>Package.json Information</h2>
            <% for (var index in packages) { %>
                <div class="name">
                    <%= packages[index].author.name %>
                </div>
                <div class="desc">
                    <%= packages[index].description %>
                </div>
                <% } %>
                    <br>
                    <!-- display dependencies -->
                    <h3>Dependencies</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Package Name</th>
                                <th>Version</th>
                            </tr>
                        </thead>
                        <tbody id="data">
                            <% for (var packages[index].dependencies) { %>
                                <tr>
                                    <td>
                                        <a href="/packages/<%= encodeURIComponent(packages[index].git_url) %>"></a>
                                    </td>
                                    <td>
                                        <%= packages[index].name %>
                                    </td>
                                    <td>
                                        <%= packages[index].version %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <!-- display devdependencies -->
                    <h3>Dev Dependencies</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Package Name</th>
                                <th>Version</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var packages[index].dependencies) { %>
                                <tr>
                                    <td>
                                        <%= packages[index].name %>
                                    </td>
                                    <td>
                                        <%= packages[index].version %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
        </div>
</body>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

    :root {
        --header-height: 3rem;
        --nav-width: 68px;
        --first-color: #4723D9;
        --first-color-light: #AFA5D9;
        --white-color: #F7F6FB;
        --body-font: 'Nunito', sans-serif;
        --normal-font-size: 1rem;
        --z-fixed: 100
    }

    *,
    ::before,
    ::after {
        box-sizing: border-box
    }

    body {
        position: relative;
        margin: var(--header-height) 0 0 0;
        padding: 0 1rem;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        transition: .5s
    }

    a {
        text-decoration: none
    }

    .header {
        width: 100%;
        height: var(--header-height);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: var(--white-color);
        z-index: var(--z-fixed);
        transition: .5s
    }

    .header_toggle {
        color: var(--first-color);
        font-size: 1.5rem;
        cursor: pointer
    }

    .header_img {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden
    }

    .header_img img {
        width: 40px
    }

    .l-navbar {
        position: fixed;
        top: 0;
        left: -30%;
        width: var(--nav-width);
        height: 100vh;
        background-color: var(--first-color);
        padding: .5rem 1rem 0 0;
        transition: .5s;
        z-index: var(--z-fixed)
    }

    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden
    }

    .nav_logo,
    .nav_link {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        column-gap: 1rem;
        padding: .5rem 0 .5rem 1.5rem
    }

    .nav_logo {
        margin-bottom: 2rem
    }

    .nav_logo-icon {
        font-size: 1.25rem;
        color: var(--white-color)
    }

    .nav_logo-name {
        color: var(--white-color);
        font-weight: 700
    }

    .nav_link {
        position: relative;
        color: var(--first-color-light);
        margin-bottom: 1.5rem;
        transition: .3s
    }

    .nav_link:hover {
        color: var(--white-color)
    }

    .nav_icon {
        font-size: 1.25rem
    }

    .show {
        left: 0
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 1rem)
    }

    .active {
        color: var(--white-color)
    }

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--white-color)
    }

    .height-100 {
        height: 100vh
    }

    @media screen and (min-width: 768px) {
        body {
            margin: calc(var(--header-height) + 1rem) 0 0 0;
            padding-left: calc(var(--nav-width) + 2rem)
        }

        .header {
            height: calc(var(--header-height) + 1rem);
            padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
        }

        .header_img {
            width: 40px;
            height: 40px
        }

        .header_img img {
            width: 45px
        }

        .l-navbar {
            left: 0;
            padding: 1rem 1rem 0 0
        }

        .show {
            width: calc(var(--nav-width) + 156px)
        }

        .body-pd {
            padding-left: calc(var(--nav-width) + 188px)
        }
    }
</style>
<%- include('./include/footer') -%>

</html>